.footer-container {
  min-height: 116px;
  background-color: #f8fcfc;
  display: flex;
  padding: 22px;
}


.copyright {
  font-family: Roboto;
  font-size: 9.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

.text-t1 {
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}

.text-l1 {
  font-family: Roboto;
  font-size: 30.5px;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fb744b;
}

.social-ico {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fb744b;
  border-radius: 50%;
}

.social-ico-img {
  position: relative;
  top: -2px;
  left: 3px;
  width: 14px;
  height: 14px;
  color: white;
}
