<div class="footer-container d-flex justify-content-around align-items-center row mx-0">
  <div class="footer-tile d-flex flex-row col m-1">
    <img src="assets/img/logo_vertical.png" alt="immobees" height="70px">
    <div class="copyright align-self-center ml-4">Copyright © 2016 - Minden jog fenntartva</div>
  </div>
  <div class="footer-tile d-flex flex-row col">
    <div *ngIf="totalDemands" class="counter-group d-flex flex-row">
      <div class="counter counter-user text-l1">{{totalDemands}}</div>
      <div class="label counter-user text-t1 align-self-center ml-2 mr-4">Felhasználó keresi a lakótársát</div>
    </div>
    <div *ngIf="totalOffers" class="counter-group d-flex flex-row col">
      <div class="counter counter-user2 text-l1">{{totalOffers}}</div>
      <div class="label counter-user2 text-t1 align-self-center ml-2">Keres albérlőtársat</div>
    </div>

  </div>
  <div class="footer-tile d-flex flex-row col">
    <div class="social-group d-flex flex-row">
      <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
        <div class="social social-ico">
          <img src="assets/img/twitter.svg" class="social-ico-img" alt="twitter">
        </div>
      </a>
      <div class="social social-label text-t1 align-self-center ml-4 mr-4">Kovess minket Twitteren</div>
    </div>
    <div class="social-group d-flex flex-row">
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
        <div class="social social-ico">
          <img src="assets/img/facebook.svg" class="social-ico-img" alt="facebook">
        </div>
      </a>
      <div class="social social-label text-t1 align-self-center ml-4">Kovess minket Facebookon</div>
    </div>

  </div>
</div>
