* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* try passing different sizes and background images to the mixin */
.hexagon {
  /*this smushes a square into a 60deg/120deg rhombus*/
  position: relative;
  width: 220px;
  height: 127.01706px;
  margin-top: 73.33333px;
  margin-bottom: 73.33333px;
  background: url(http://placekitten.com/g/650);
  background-size: 347.01706px auto;
  background-position: center center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-left: solid 3px #fff;
  border-right: solid 3px #fff;
  /*cover up the box shadows */
}

.hexagon .hex1,
.hexagon .hex2 {
  position: absolute;
  overflow: hidden;
  width: 155.56349px;
  height: 155.56349px;
  left: 29.75426px;
  /*for some reason this 1px correction is needed */
  background: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-transform: scaleY(0.57735) rotate(-45deg);
  -ms-transform: scaleY(0.57735) rotate(-45deg);
  -webkit-transform: scaleY(0.57735) rotate(-45deg);
  transform: scaleY(0.57735) rotate(-45deg);
}

.hexagon .hex1:after,
.hexagon .hex2:after {
  /*counter rotate and un-scale the bg image*/
  content: "";
  position: absolute;
  left: -32.75426px;
  /*same correction as up above */
  width: 220px;
  height: 155.56349px;
  top: 0;
  background: inherit;
  -moz-transform: rotate(45deg) scaleY(1.73205);
  -ms-transform: rotate(45deg) scaleY(1.73205);
  -webkit-transform: rotate(45deg) scaleY(1.73205);
  transform: rotate(45deg) scaleY(1.73205);
}

.hexagon .hex1 {
  top: -77.78175px;
  border-top: solid 5.19615px #fff;
  border-right: solid 5.19615px #fff;
}

.hexagon .hex1:after {
  background-position: center 17%;
  margin-top: -5.19615px;
}

.hexagon .hex2 {
  bottom: -77.78175px;
  border-left: solid 5.19615px #fff;
  border-bottom: solid 5.19615px #fff;
}

.hexagon .hex2:after {
  background-position: center 83%;
  margin-left: -4.19615px;
  /*that pesky single pixel correction again*/
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.12132px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 122.77442px;
  background: inherit;
}
