<div class="profile-edit-header-container d-flex flex-row mb-4 justify-content-around align-items-center">
<div class="title mr-3">profil szerkesztése</div>
<div class="switcher d-flex flex-row align-items-center">
  <div class="label mr-3">Profil:</div>
  <div class="input-group profile d-flex flex-row">
    <div class="input-group-option text-l2 align-self-center mr-auto"
      [ngClass]="{ 'selected': accountService.account.active }" (click)="switchActiveStatus()">
      aktív
    </div>
    <div class="input-group-option text-l2 align-self-center"
      [ngClass]="{ 'selected': !accountService.account.active }" (click)="switchActiveStatus()">
      inaktív
    </div>
  </div>
</div>
</div>
