.navbar {
  height: 55px;
  background-color: #f8fcfc;
}

.button-m1 {
  // width: 110px;
  height: 24px;
  border-radius: 12px;
  background-color: #f47c4c;
  border: none;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: #f8fcfc;
}

.button-m1:focus {
  outline: none
}

.profile-label {
  align-self: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  text-align: left;
  color: #676767;
}
