.navbar {
  height: 55px;
  background-color: #f8fcfc;
}

.button-m1 {
  // width: 110px;
  height: 24px;
  border-radius: 12px;
  background-color: #f47c4c;
  border: none;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: #f8fcfc;
  box-shadow: 0 2px #d7d7d7;
}

.button-m1:hover {
  background-color: #f46f44
}

.button-m1:active {
  box-shadow: 0 0px #d7d7d7;
  transform: translateY(2px);
}

.button-m1:focus {
  outline: none
}

.profile-label {
  align-self: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  text-align: left;
  color: #676767;
}

.profile-avatar {
  img {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    ;
    object-fit: cover;
  }
}
