<div class="personal-container d-flex flex-column">
  <div class="head-roomtype d-flex flex-row align-items-center justify-content-center">
    <div class="roomtype private d-flex flex-column align-items-end mt-auto mr-5" (click)="switchRoomtype('PRIVATE')">
      <div class="image mx-auto mb-3">
        <img src="assets/img/single.png">
      </div>
      <div class="button" [ngClass]="{ 'selected': accountService.account.subject.roomType === 'PRIVATE' }">külön szoba
      </div>
    </div>
    <div class="roomtype shared d-flex flex-column align-items-end" (click)="switchRoomtype('SHARED')">
      <div class="image mb-3">
        <img src="assets/img/shared.png">
      </div>
      <div class="button" [ngClass]="{ 'selected': accountService.account.subject.roomType === 'SHARED' }">szobatárs
      </div>
    </div>
  </div>
  <div class="body-personal d-flex flex-column mt-3">
    <div class="title align-self-center justify-content-center my-2">SZEMÉLYES INFORMÁCIÓK</div>
    <div class="wrap-container d-flex flex-wrap">

      <div class="input-group gender d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="gender-select">
          <mat-select placeholder="Nem" [(ngModel)]="accountService.account.gender">
            <mat-option [value]="'FEMALE'">Nő</mat-option>
            <mat-option [value]="'MALE'">Férfi</mat-option>
            <mat-option [value]="'other'">Más</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-group budget d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <div class="input-group-label text-l1 align-self-center mr-2">Ár</div>
        <input [(ngModel)]="accountService.account.subject.price.fee" type="number" min="0"
          class="input-group-option input-field align-self-center ml-auto mr-1" placeholder="ár" />
        <div class="input-group-label text-l1 align-self-center mr-1">e Ft</div>
      </div>

      <div class="input-group nationality d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="nationality-select">
          <mat-select [(ngModel)]="accountService.account.nationality" placeholder="Nemzetiség">
            <mat-option>X</mat-option>
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality.value">{{
              nationality.en_long_name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-group av_date d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="av_date">
          <input [(ngModel)]="accountService.account.moveIntoAt" matInput [matDatepicker]="av_date"
            placeholder="Költözhető">
          <mat-datepicker-toggle matSuffix [for]="av_date"></mat-datepicker-toggle>
          <mat-datepicker #av_date></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-group birthDate d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="birthDate">
          <input [(ngModel)]="accountService.account.birthday" matInput [matDatepicker]="birthDate"
            placeholder="Születési dátum">
          <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
          <mat-datepicker #birthDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="input-group erasmus d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <div class="label mr-auto">Erasmus</div>
        <div class="checkbox mr-2" [class.checked]="accountService.account.hasErasmus"
          (click)="switchAttribute('hasErasmus')">
          <img src="assets/img/checkmark.svg">
        </div>
      </div>

      <div class="input-group hasChild d-flex flex-row align-items-center my-1">
        <img src="assets/img/09_gyermek.svg" class="icon">
        <div class="label mr-auto">Gyerek</div>
        <div class="checkbox mr-2" [class.checked]="accountService.account.children"
          (click)="switchAttribute('children')">
          <img src="assets/img/checkmark.svg">
        </div>
      </div>

      <div class="input-group language d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="language-select">
          <mat-select [(ngModel)]="accountService.account.spokenLanguages" placeholder="Beszélt nyelvek" multiple>
            <mat-select-trigger>
              {{ accountService.account.spokenLanguages ? accountService.account.spokenLanguages[0] : "" }}
              <span *ngIf="accountService.account.spokenLanguages?.length > 1" class="example-additional-selection">
                (+{{ accountService.account.spokenLanguages.length - 1 }}
                {{ accountService.account.spokenLanguages?.length === 2 ? "további" : "további" }})
              </span>
            </mat-select-trigger>
            <mat-option>X</mat-option>
            <mat-option *ngFor="let language of languages" [value]="language.name">{{
              language.nativeName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-group pet d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="pet-select">
          <mat-select [(ngModel)]="accountService.account.pets" placeholder="Kisállat">
            <mat-option>X</mat-option>
            <mat-option *ngFor="let pet of (pets | async)" [value]="pet">{{
              pet
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-group school d-flex flex-row align-items-center my-1">
        <img src="assets/img/07_iskola.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="school-select">
          <mat-select [(ngModel)]="accountService.account.school" placeholder="Iskola">
            <mat-option>X</mat-option>
            <mat-option *ngFor="let school of schools" [value]="school">{{
              school
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-group smoking d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <div class="label mr-auto">Dohányzik</div>
        <div class="checkbox mr-2" [class.checked]="accountService.account.smoking"
          (click)="switchAttribute('smoking')">
          <img src="assets/img/checkmark.svg">
        </div>
      </div>

      <div class="input-group profession d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="profession-select">
          <mat-select [(ngModel)]="accountService.account.profession" placeholder="Foglalkozás">
            <mat-option>X</mat-option>
            <mat-option *ngFor="let profession of (professions | async)" [value]="profession">{{
              profession
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="input-group goesHome d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <div class="label mr-auto">Hétvégén hazautazik</div>
        <div class="checkbox mr-2" [class.checked]="accountService.account.leaveOnWeekends"
          (click)="switchAttribute('leaveOnWeekends')">
          <img src="assets/img/checkmark.svg">
        </div>
      </div>

      <div class="input-group personality d-flex flex-row align-items-center my-1">
        <img src="assets/img/03_nemzetiseg.svg" class="icon">
        <mat-form-field [floatLabel]="'never'" class="personality-select">
          <mat-select [(ngModel)]="accountService.account.personality" placeholder="Személyiség">
            <mat-option [value]="'introvert'">Introvertált</mat-option>
            <mat-option [value]="'extrovert'">Extrovertált</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="text-area d-flex align-self-center mt-3">
      <textarea [(ngModel)]="accountService.account.introduction" matInput name="ideal-flatmate" id="ideal-flatmate"
        cols="50" rows="5" placeholder="&#9998; MUTASD BE MAGAD PÁR SZÓBAN..."></textarea>
    </div>
  </div>
</div>
