<div class="new-features-container d-flex flex-row justify-content-around align-items-center">
  <div class="feature-card d-flex flex-row">
    <div class="feature-card-logo">
      <img src="assets/img/chat.png">
    </div>
    <div class="divider"></div>
    <div class="feature-card-content d-flex flex-column">
      <div class="feature-card-header">üzenetküldés</div>
      <div class="feature-card-body">Küldj üzenetet azonnal, vegyétek fel a kapcsolatot egymással egy kattintással!
      </div>
    </div>
  </div>
  <div class="feature-card d-flex flex-row">
    <div class="feature-card-logo">
      <img src="assets/img/search.png">
    </div>
    <div class="divider"></div>
    <div class="feature-card-content d-flex flex-column">
      <div class="feature-card-header">részletes keresés</div>
      <div class="feature-card-body">Keress lakótársat, szűrj a legapróbb részletre – lakj azzal, akivel te szeretnél!
      </div>
    </div>
  </div>
  <div class="feature-card d-flex flex-row">
    <div class="feature-card-logo">
      <img src="assets/img/video.png">
    </div>
    <div class="divider"></div>
    <div class="feature-card-content d-flex flex-column">
      <div class="feature-card-header">Videó feltöltés</div>
      <div class="feature-card-body">Mondd el videóban – ha a kép nem elég, mutasd be magad 1 percben!
      </div>
    </div>
  </div>
</div>
