.new-features-container {
  height: auto;
  min-height: 189px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fb734b), to(#f98f3f));
  background-image: linear-gradient(to right, #fb734b, #f98f3f);
}
