.img {
  border: 5px solid white;
  border-radius: 33%;
  box-shadow: 0 7px 18px 0 rgba(0, 0, 0, .3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
