<div class="immo-avatar">
  <app-hexagon></app-hexagon>
</div>
<div class="immo-card d-flex flex-column">
  <div class="name">Réka (34)</div>
  <div class="top-divider d-flex flex-row">
    <div class="top-side-divider mr-auto"></div>
    <div class="nationality mx-auto">hun</div>
    <div class="school mx-auto">bge</div>
    <div class="top-side-divider ml-auto"></div>
  </div>
  <div class="location mx-auto">Budapest, XVIII. kerület</div>
  <div class="props d-flex flex-row">
    <div class="immotype mx-auto">szobatárs</div>
    <div class="moving-date m-auto">2017.03.21.</div>
  </div>
  <div class="bottom-divider d-flex flex-row">
    <div class="bottom-side-divider mr-auto"></div>
    <div class="roomtype">keres</div>
    <div class="bottom-side-divider ml-auto"></div>
  </div>
  <div class="price">45.000 Ft</div>
</div>
