<div class="immo-card-container d-flex flex-column p-3">
  <div class="immo-avatar d-flex">
    <app-avatar [size]="'170px'" [img]="account.avatar.url"></app-avatar>
  </div>
  <div class="immo-card d-flex flex-column" (click)="view(account)">
    <div class="name">{{account.name}} ({{fs.timestampToDate(account.birthday) | age}})</div>
    <div class="top-divider d-flex flex-row">
      <div class="top-side-divider mr-auto"></div>
      <div *ngFor="let lang of account.spokenLanguages" class="nationality mx-auto">{{lang}}</div>
      <div class="school mx-auto">{{account.school}}</div>
      <div class="top-side-divider ml-auto"></div>
    </div>
    <div class="location mx-auto">{{account.subject.address.display}}</div>
    <div class="props d-flex flex-row">
      <div class="immotype text-uppercase mx-auto">{{'ROOMTYPE.' + account.subject.roomType | translate}}</div>
      <div class="moving-date m-auto">
        {{fs.timestampToDate(account.moveIntoAt) | date: 'yyyy.MM.dd.'}}
      </div>
    </div>
    <div class="bottom-divider d-flex flex-row">
      <div class="bottom-side-divider mr-auto"></div>
      <div class="roomtype">{{'SERVICETYPE.' + account.subject.serviceType | translate}}</div>
      <div class="bottom-side-divider ml-auto"></div>
    </div>
    <div class="price">{{account.subject.price.fee*1000}} {{account.subject.price.currency}}</div>
  </div>
</div>
