<div class="custom-filters">
  <div class="headline-filters d-flex flex-column">
    <div class="input-group room d-flex flex-row">
      <div class="input-group-label text-l1 align-self-center">szobát</div>
      <div class="separator align-self-center mx-auto"></div>
      <div class="input-group-option text-l2 align-self-center mr-2"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.room == 1 }" (click)="switchRoomType()">keresők
      </div>
      <div class="input-group-option text-l2 align-self-center"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.room == 0 }" (click)="switchRoomType()">kínálók
      </div>
    </div>

    <div class="input-group immo d-flex flex-row">
      <div class="input-group-option text-l2 align-self-center mr-auto"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.immo == 0 }" (click)="switchImmoType()">külön szobát
      </div>
      <div class="input-group-option text-l2 align-self-center"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.immo == 1 }" (click)="switchImmoType()">szobatársat
      </div>
    </div>
  </div>
  <div class="further-filters d-flex flex-column align-items-center justify-content-around">
    <h2 class="search-personal-title">SZEMÉLYES INFORMÁCIÓK</h2>
    <div class="input-group sex d-flex flex-row my-1">
      <div class="input-group-label text-l1 align-self-center">nem</div>
      <div class="separator align-self-center mx-auto"></div>
      <div class="input-group-option text-l2 align-self-center mr-2" (click)="changeSex(1)"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.sex == 1 }">
        fiú
      </div>
      <div class="input-group-option text-l2 align-self-center mr-2" (click)="changeSex(0)"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.sex == 0 }">
        lány
      </div>
      <div class="input-group-option text-l2 align-self-center" (click)="changeSex(2)"
        [ngClass]="{ 'selected': queryService.homeSearchQueryFields.sex == 2 }">
        mindegy
      </div>
    </div>
  </div>
</div>
