<div class="custom-filters">
  <div class="headline-filters">
    <div class="input-group room d-flex flex-row">
      <div class="input-group-label text-l1 align-self-center">szobát</div>
      <div class="separator align-self-center ml-2 mr-auto"></div>
      <div class="input-group-option text-l2 align-self-center mr-2">keresők</div>
      <div class="input-group-option text-l2 selected align-self-center">kínálók</div>
    </div>

    <div class="input-group immo d-flex flex-row">
      <div class="input-group-option text-l2 align-self-center mr-2">külön szobát</div>
      <div class="input-group-option text-l2 selected align-self-center">szobatársat</div>
    </div>
  </div>
</div>
