<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <p class="text-center description ">{{'AUTH.RESET_PASSWORD_DESCRIPTION' | translate}}</p>
      <div class="formGroup">
        <input type="email" class="emailInpt formControl" placeholder="{{'AUTH.EMAIL_A' | translate}}"
          #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup forgotButton my-4 d-flex justify-content-sm-center">
        <input type="submit" class="submitButton btn btnPrimary" value="{{'AUTH.RESET_PASSWORD' | translate}}"
          (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin redirect">
      <span>
        {{'AUTH.GO_BACK_TO' | translate}}
        <span class="redirect"
          (click)="authModalService.openDialog('signIn')">{{'AUTH.TO_LOGIN' | translate}}</span></span>
    </div>

  </div>
</div>
