<div class="ad-properties-container d-flex flex-column justify-content-center">
  <div *ngIf="viewService.flatMate.subject.serviceType == 'OFFER'" class="image-container">
    <carousel [showIndicators]="false" [interval]="3000" [(activeSlide)]="activeSlideIndex"
      (activeSlideChange)="change($event)">
      <slide *ngFor="let slide of viewService.flatMate.subject.pictures; let index=index">
        <img [src]="slide.url" alt="image slide" style="display: block; width: 100%;">
        <div class="carousel-caption">
          <div class="label">{{slide.label}}</div>
        </div>
      </slide>
    </carousel>
    <div class="image-list d-flex flex-row">
      <div *ngFor="let image of viewService.flatMate.subject.pictures; let index=index" class="image"
        [class.active]="index == activeSlideIndex" (click)="activeSlideIndex = index">
        <img [src]="image.image">
      </div>
    </div>
  </div>
  <div class="ad-properties-header d-flex flex-row justify-content-between">
    <div class="title">Magamról</div>
    <div *ngIf="viewService.flatMate.subject.serviceType == 'DEMAND'" class="prop-top-box d-flex flex-column">
      <div class="budget d-flex flex-row align-items-center">
        <div class="label mr-2">Büdzsé:</div>
        <div class="value mr-2">{{viewService.flatMate.subject.price.fee*1000}}
          {{viewService.flatMate.subject.price.currency}}</div>
      </div>
      <div class="types d-flex flex-row align-items-center">
        <div class="icon mr-2"></div>
        <div class="label">{{viewService.flatMate.subject.serviceType}} - {{viewService.flatMate.subject.roomType}}
        </div>
      </div>
    </div>
  </div>
  <div class="ad-properties-body d-flex flex-wrap">
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Nem</div>
      <div class="value ml-auto">{{viewService.flatMate.gender}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Város</div>
      <div class="value ml-auto text-capitalize">{{viewService.flatMate.subject.address.city}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Nemzetiség</div>
      <div class="value ml-auto">{{viewService.flatMate.nationality}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Költözés időpontja</div>
      <div class="value ml-auto">{{viewService.flatMate.moveIntoAt | localeDate}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Életkor</div>
      <div class="value ml-auto">{{viewService.flatMate.birthday | age}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Gyerek</div>
      <div class="value ml-auto">{{viewService.flatMate.children}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Erasmus</div>
      <div class="value ml-auto">{{viewService.flatMate.hasErasmus}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">kisállat</div>
      <div class="value ml-auto">{{viewService.flatMate.pets}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label mr-auto">Beszélt nyelvek</div>
      <div *ngFor="let lang of viewService.flatMate.spokenLanguages" class="value mr-1">{{lang}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Dohányzás</div>
      <div class="value ml-auto">{{viewService.flatMate.smoking}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Iskola</div>
      <div class="value ml-auto text-uppercase">{{viewService.flatMate.school}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Hétvégén hazautazik</div>
      <div class="value ml-auto">{{viewService.flatMate.leaveOnWeekends}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Foglalkozás</div>
      <div class="value ml-auto">{{viewService.flatMate.profession}}</div>
    </div>
    <div class="prop-box d-flex flex-row align-items-center">
      <div class="icon mr-2"></div>
      <div class="label">Személyiség</div>
      <div class="value ml-auto">{{viewService.flatMate.personality}}</div>
    </div>
  </div>
  <div class="ad-properties-description d-flex flex-column">
    <div class="title">Az ideális lakótársról</div>
    <div class="description">{{viewService.flatMate.subject.client.description}}</div>
  </div>
</div>
