.ad-properties-container {
  padding: 20px 15px;
  border-radius: 14px;
  box-shadow: 0px 3px 6.7px 0.3px rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
  margin-bottom: 45px;

  .image-container {
    height: 420px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #5a5a5a;
    margin-bottom: 30px;

    carousel {

      slide {

        img {
          height: 300px;
          display: block;
          object-fit: cover;
        }

        .label {
          color: white;
          text-transform: uppercase;
          font-weight: 500;
          text-shadow: 1px 1px 4px #5a5a5a;
        }

        .carousel-caption {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 10;
          padding: 20px;
          text-align: right;
        }
      }
    }

    .image-list {
      padding-bottom: 6px;
      margin-top: 10px;
      height: 106px;
      overflow-y: hidden;
      overflow-x: auto;

      .image {
        opacity: .5;

        img {
          height: 100px;
          max-width: 150px;
          object-fit: cover;
        }
      }

      .image.active {
        opacity: 1;
      }
    }
  }

  .ad-properties-header {
    text-transform: uppercase;

    .title {
      margin-top: 5.5px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1.2px;
      text-align: left;
      color: #5a5a5a;
    }

    .prop-top-box {
      font-family: Roboto;
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #7a75ba;

      .budget {
        font-family: Roboto;
        font-stretch: normal;
        line-height: normal;
        margin-bottom: 20px;

        .label {
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          letter-spacing: 0.8px;
          color: #5a5a5a;
        }

        .value {
          font-style: italic;
          font-size: 29.5px;
          font-weight: 900;
          letter-spacing: -1.18px;
          text-align: left;
          color: #7a75ba;
        }
      }

      .types {
        .icon {
          height: 14px;
        }

        .label {
          font-family: Roboto;
          font-size: 15px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #7a75ba;
        }
      }
    }
  }

  .ad-properties-body {
    margin: 20px 0;

    .prop-box {
      width: 47%;
      margin: 0 auto;
      padding: 17px 0 17px;
      font-family: Roboto;
      font-size: 12.5px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: #5a5a5a;
      border-bottom: 2px solid #dfdfdf;

      .icon {
        height: 14px;
      }

      .label {
        font-weight: bold;
        letter-spacing: 0.5px;
        text-align: left;
        text-transform: uppercase;
      }

      .value {
        text-transform: lowercase;
        font-weight: normal;
        letter-spacing: normal;
        text-align: right;
      }

    }

  }

  .ad-properties-description {
    padding: 5px;
    font-family: Roboto;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #676767;

    .title {
      font-size: 20.5px;
      font-weight: 300;
    }

    .description {
      font-size: 13.5px;
      font-weight: normal;
      line-height: 1.85;
    }
  }
}

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  height: 6px;
  padding: 0 2px;
}
