<div class="background">
  <div class="container">
    <div *ngIf="viewService.flatMate && viewService.flatMate.age" class="row">
      <div class="col-lg-3 col-sm-12">
        <app-profile-card></app-profile-card>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col">
            <app-ad-properties></app-ad-properties>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-map></app-map>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <app-flat-properties *ngIf="viewService.flatMate.subject.serviceType == 'OFFER'"></app-flat-properties>
        <app-recommendation-list [recommendations]="recommendations"></app-recommendation-list>
      </div>
    </div>

    <div *ngIf="!viewService.flatMate || !viewService.flatMate.age" class="row">
      <h3>Ismeretlen profil</h3>
      <button class="return-button" (click)="this.modalService.openDialog('data')">Profil regisztrálása</button>
      <button class="return-button" (click)="return()">vissza</button>
    </div>
  </div>
</div>
