<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <app-profile-card></app-profile-card>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col">
            <app-ad-properties></app-ad-properties>
            <app-flat-properties></app-flat-properties>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-map></app-map>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <app-recommendation-list [recommendations]="recommendations"></app-recommendation-list>
      </div>
    </div>
  </div>
</div>
