.background {
  padding: 45px 0;
  min-height: calc(100vh - 177px);
  background-image: linear-gradient(to left, #95c6d775, #8aadb475, #938ec575, #87b0d975, #95c7d775);

  .container {
    max-width: 96vw;

    .return-button {
      width: 90px;
      height: 24px;
      border-radius: 12px;
      background-color: #f47c4c;
      border: none;
      font-family: Roboto;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.48px;
      text-align: center;
      color: #f8fcfc;
    }
  }
}
