<div class="main-container row mx-0">
  <div class="main-headline d-flex flex-column col-lg-6 col-md-12">
    <div class="headline mb-3">
      IMMOBEES A lakótárs<wbr>kereső
    </div>
      <div class="subheadline my-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit odit
        voluptates, incidunt architecto facere dolor culpa.
      </div>
      <div class="register-button d-flex align-items-center justify-content-center mt-3" (click)="authModalService.openDialog('signUp')">
        Regisztráció
      </div>
    </div>
    <div *ngIf="isLoaded && mobile" class=" d-flex main-highlight col-lg-6 col-md-12 pt-5">
      <app-immo-card [account]="highLight" class="mb-4"></app-immo-card>
    </div>
    <div *ngIf="isLoaded && !mobile" class="d-flex main-highlight col-lg-6 col-md-12">
      <app-high-light [account]="highLight" class="mt-5 mb-4"></app-high-light>
    </div>
  </div>
