.fileUpload {
  position: relative;
  width: 100%;
  width: 320px;
  height: 42px;
  border-radius: 21px;
  background-color: #f47c4c;
  padding-top: 13px;
  font-family: Roboto;
  font-size: 13.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  overflow: hidden;
}

input.upload {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 21px;
  height: 42px;
  width: 100%;
  margin: auto;
}

.holder {
  position: absolute;
  left: 0;
  top: 0;
  border: 2px #5a5a5a;
  border-style: dashed;
  border-radius: 21px;
  height: 100px;
  width: 100px;
  margin: auto;
}

.holder.hover {
  border-color: green;
}
