.showroom-container {
  -webkit-box-shadow: 0 25px 25px -25px rgba(0, 0, 0, 0.53) inset;
  -moz-box-shadow: 0 25px 25px -25px rgba(0, 0, 0, 0.53) inset;
  box-shadow: 0 25px 25px -25px rgba(0, 0, 0, 0.53) inset;
  height: 536px;
  background-image: linear-gradient(to right, #95c7d7, #8aadb4, #938ec5, #87b0d9, #95c7d7);
}
