<div mat-dialog-title class="modal-header d-flex flex-row justify-content-center align-items-center">
  <div class="divider"></div>
  <div class="title"> {{title}}</div>
  <div class="divider"></div>
  <div class="close" (click)="close()">
    &times;
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <app-register *ngIf="modalDataSet.modalType === 'REGISTER'">
  </app-register>
  <app-demand-personal *ngIf="currentPage === 1 && modalDataSet.modalType === 'DEMAND'">
  </app-demand-personal>
  <app-demand-roommate
    *ngIf="(currentPage === 2 && modalDataSet.modalType === 'DEMAND') || (currentPage === 3 && modalDataSet.modalType === 'OFFER')">
  </app-demand-roommate>
  <app-demand-avatar
    *ngIf="(currentPage === 3 && modalDataSet.modalType === 'DEMAND') || (currentPage === 4 && modalDataSet.modalType === 'OFFER')">
  </app-demand-avatar>
  <app-offer-personal *ngIf="currentPage === 1 && modalDataSet.modalType === 'OFFER'">
  </app-offer-personal>
  <app-offer-room *ngIf="currentPage === 2 && modalDataSet.modalType === 'OFFER'">
  </app-offer-room>
  <app-offer-images *ngIf="currentPage === 5 && modalDataSet.modalType === 'OFFER'">
  </app-offer-images>

</mat-dialog-content>
<mat-dialog-actions align="center" class="d-flex flex-column">
  <div *ngIf="modalDataSet.modalType === 'DEMAND' || modalDataSet.modalType === 'OFFER'"
    class="action-buttons d-flex flex-row justify-content-center mb-3">
    <div class="button button-previous mr-3" (click)="back()">vissza</div>
    <div *ngIf="(currentPage !== 3 && modalDataSet.modalType === 'DEMAND') || (currentPage !== 5 && modalDataSet.modalType === 'OFFER')"
      class="button button-next" (click)="next()"> tovább</div>
    <div *ngIf="(currentPage === 3 && modalDataSet.modalType === 'DEMAND') || (currentPage === 5 && modalDataSet.modalType === 'OFFER')"
      class="button button-save" (click)="save()">mentés</div>
  </div>

  <pagination *ngIf="modalDataSet.stepperItems>1" [boundaryLinks]="false" [directionLinks]="false" [itemsPerPage]="1" [totalItems]="modalDataSet.stepperItems" [rotate]="true"
    [(ngModel)]="currentPage">
  </pagination>
</mat-dialog-actions>
