<div mat-dialog-title class="modal-header d-flex flex-row justify-content-center align-items-center">
  <div class="divider"></div>
  <div class="title"> TITLE</div>
  <div class="divider"></div>
</div>
<mat-dialog-content class="mat-typography">

  <app-demand-avatar
    *ngIf="currentPage === 3 && modalType === 'DEMAND'">
  </app-demand-avatar>
  <app-demand-personal
    *ngIf="currentPage === 1 && modalType === 'DEMAND'">
  </app-demand-personal>
  <app-demand-roommate
    *ngIf="(currentPage === 2 && modalType === 'DEMAND') || (currentPage === 3 && modalType === 'OFFER')">
  </app-demand-roommate>
  <app-offer-avatar
    *ngIf="currentPage === 4 && modalType === 'OFFER'">
  </app-offer-avatar>
  <app-offer-images
    *ngIf="currentPage === 5 && modalType === 'OFFER'">
  </app-offer-images>
  <app-offer-personal
    *ngIf="currentPage === 1 && modalType === 'OFFER'">
  </app-offer-personal>
  <app-offer-room
    *ngIf="currentPage === 2 && modalType === 'OFFER'">
  </app-offer-room>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <pagination *ngIf="stepperItems>1" [boundaryLinks]="false" [directionLinks]="false" [itemsPerPage]="1" [totalItems]="stepperItems" [rotate]="true"
  [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
</pagination>
</mat-dialog-actions>
