.divider {
  box-sizing: border-box;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 3px;
  background-color: #d7d7d7;
}

.title {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 0 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-align: center;
  color: #5a5a5a;
}

.action-buttons {
  .button {
    cursor: pointer;
    font-family: Roboto;
    font-size: 13.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.54px;
    text-align: center;
    text-transform: uppercase;
    color: #f8fcfc;
    margin-top: 20px;
    padding-top: 13px;
    width: 145px;
    height: 42px;
    border-radius: 21px;
    background-color: #f47c4c;
    box-shadow: 0 2px #d7d7d7;
  }

  .button:hover {
    background-color: #f46f44
  }

  .button:active {
    box-shadow: 0 0px #d7d7d7;
    transform: translateY(2px);
  }

  .button:focus {
    outline: none
  }

}

.modal-header.mat-dialog-title {
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    right: -5px;
  }
}

::ng-deep.modal-header {
  border: none;
}

::ng-deep.mat-dialog-container {
  max-width: 732px;
}

/*ngx-bootstrap paginator stype overwrite*/
mat-dialog-actions {

  ::ng-deep.page-item.disabled .page-link,
  ::ng-deep.page-item .page-link {
    font-size: 0 !important;
    padding: 0;
    margin-left: 5px;
    color: #d7d7d7;
    background-color: #d7d7d7;
    border: none;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    color: #d7d7d7;
  }

  ::ng-deep.page-link:focus {
    box-shadow: none;
  }

  ::ng-deep.page-item.active .page-link {
    background-color: #818181;
    border-color: #818181;
    color: #818181;
  }

  ::ng-deep.page-item:last-child .page-link,
  ::ng-deep.page-item:first-child .page-link {
    border-radius: 5px;
  }

  ::ng-deep ul.pagination {
    margin: 0;
  }
}
