* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hexagon {
  /*this smushes a square into a 60deg/120deg rhombus*/
  position: relative;
  width: 300px;
  height: 173.20508px;
  margin-top: 100px;
  margin-bottom: 100px;
  // background-image: url("/assets/img/blank-profile-picture-973460_960_720.webp");
  background-size: 473.20508px auto;
  background-position: center center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  border-left: solid 3px #fff;
  border-right: solid 3px #fff;
  /*cover up the box shadows */
}

.hexagon .hex1,
.hexagon .hex2 {
  position: absolute;
  overflow: hidden;
  width: 212.13203px;
  height: 212.13203px;
  left: 41.30127px;
  /*for some reason this 1px correction is needed */
  background: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-transform: scaleY(0.57735) rotate(-45deg);
  -ms-transform: scaleY(0.57735) rotate(-45deg);
  -webkit-transform: scaleY(0.57735) rotate(-45deg);
  transform: scaleY(0.57735) rotate(-45deg);
}

.hexagon .hex1:after,
.hexagon .hex2:after {
  /*counter rotate and un-scale the bg image*/
  content: "";
  position: absolute;
  left: -44.30127px;
  /*same correction as up above */
  width: 300px;
  height: 212.13203px;
  top: 0;
  background: inherit;
  -moz-transform: rotate(45deg) scaleY(1.73205);
  -ms-transform: rotate(45deg) scaleY(1.73205);
  -webkit-transform: rotate(45deg) scaleY(1.73205);
  transform: rotate(45deg) scaleY(1.73205);
}

.hexagon .hex1 {
  top: -106.06602px;
  border-top: solid 5.19615px #fff;
  border-right: solid 5.19615px #fff;
}

.hexagon .hex1:after {
  background-position: center 17%;
  margin-top: -5.19615px;
}

.hexagon .hex2 {
  bottom: -106.06602px;
  border-left: solid 5.19615px #fff;
  border-bottom: solid 5.19615px #fff;
}

.hexagon .hex2:after {
  background-position: center 83%;
  margin-left: -4.19615px;
  /*that pesky single pixel correction again*/
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.12132px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 168.96244px;
  background: inherit;
}
