.head-roomtype {
  .roomtype {
    .image {
      img {}
    }

    .button {
      cursor: pointer;
      width: 280px;
      height: 42px;
      padding-top: 10.5px;
      font-family: Roboto;
      font-size: 13.5px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.54px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 21px;
      border: solid 3px #7a75ba;
      color: #7a75ba;
      background-color: #ffffff;
    }

    .button.selected {
      color: #ffffff;
      background-color: #7a75ba;
    }
  }

}


.title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: left;
  text-transform: uppercase;
  color: #5a5a5a;
}


.input-group {
  width: auto;
  min-width: 280px;
  margin: 0 auto;
  padding: 0 0 0 9px;
  height: 36px;
  border-radius: 17.8px;
  background-color: #ffffff;
  border: solid 3px #d7d7d7;
  margin-bottom: 10px;

  &.immo {
    padding: 0;
  }
}

.input-group-option {
  cursor: pointer;
}

.input-field {
  padding: 0 .5rem 0 .5rem;
  width: 70px;
  height: 26px;
  border-radius: 8px;
  border: solid 2px #d7d7d7;
}

.text-l1 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: left;
  color: #5a5a5a;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.input-group .icon {
  height: 50%;
  margin: 8px 8px 0 0;
}


// Material select-ek custom formázása
.input-group mat-form-field {
  top: -13px;
  width: 87%;
  margin: 0 5px 0 auto;
}

::ng-deep.mat-select-value .mat-select-value-text {
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.52px;
  text-align: left;
  color: #5a5a5a;
}

::ng-deep.mat-form-field-underline {
  display: none;
}

::ng-deep.mat-primary .mat-pseudo-checkbox-checked {
  background: #f47c4c;
}

::ng-deep.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #5a5a5a;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

::ng-deep.mat-select-panel .mat-option {
  line-height: 3em;
  height: 3em;
  color: #5a5a5a;
  font-family: Roboto;
  font-size: 12px !important;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

.text-area {
  width: 100%;

  textarea {
    min-height: 37px;
    width: 100%;
    padding: 12px;
    border-radius: 17.8px;
    border: solid 3px #d7d7d7;
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.52px;
    text-align: left;
    color: #5a5a5a;
    resize: none;
  }

  textarea:focus {
    outline: none;
  }

  ::placeholder {
    color: #5a5a5a5a;
  }

  ::-webkit-input-placeholder {
    color: #5a5a5a5a;
  }

  ::-moz-placeholder {
    color: #5a5a5a5a;
  }

  :-ms-input-placeholder {
    color: #5a5a5a5a;
  }
}
