.map-container-card {
  border-radius: 14px;
  box-shadow: 0px 3px 6.7px 0.3px rgba(0, 0, 0, 0.33);
  border: solid 8px #ffffff;
  background-color: #ffffff;
  margin-bottom: 26px;
}

::ng-deep canvas {
  border-radius: 6px;
}

.ol-overlaycontainer-stopevent {
  margin: 5px;
  position: absolute;
  z-index: 20;
  bottom: 0px;
}

.ol-control {
  img {
    width: 12px;
  }
}

/* .btn-primary {
  border: 3px solid white;
} */
