<div class="flat-properties-card d-flex flex-column d-flex justify-content-center">
  <div class="location-box d-flex flex-row">
    <div class="poi-icon mr-2">
      <img src="assets/img/poi-icon.svg">
    </div>
    <div class="location mb-2">{{viewService.flatMate.subject.address.city}}</div>
    <div class="address mb-2">{{viewService.flatMate.subject.address.street}}
      {{viewService.flatMate.subject.address.number}}</div>
  </div>
  <div class="types d-flex flex-row mb-2">
    <img src="assets/img/26_szoba.svg" class="icon mr-2">
    <div class="serviceType">{{'SERVICETYPE.' + viewService.flatMate.subject.serviceType | translate}} - </div>
    <div class="roomType">{{'ROOMTYPE.' + viewService.flatMate.subject.roomType | translate}}</div>
  </div>
  <div *ngIf="viewService.flatMate.subject.floorArea" class="attribute flatArea d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      lakás alapterülete
    </div>
    <div class="value ml-auto">
      {{viewService.flatMate.subject.floorArea}} m<sup>2</sup>
    </div>
  </div>
  <div *ngIf="viewService.flatMate.subject.floorArea" class="divider"></div>
  <div *ngIf="viewService.flatMate.subject.roomArea" class="attribute roomArea d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      szoba alapterülete
    </div>
    <div class="value ml-auto">
      {{viewService.flatMate.subject.roomArea}} m<sup>2</sup>
    </div>
  </div>
  <div *ngIf="viewService.flatMate.subject.roomArea" class="divider"></div>
  <div *ngIf="viewService.flatMate.moveIntoAt" class="attribute moveIntoAt d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      költözhető
    </div>
    <div class="value ml-auto">
      {{fs.timestampToDate(viewService.flatMate.moveIntoAt) | date: 'yyyy.MM.dd.'}}
    </div>
  </div>
  <div *ngIf="viewService.flatMate.moveIntoAt" class="divider"></div>
  <div *ngIf="viewService.flatMate.gender" class="attribute gender d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      akit várok
    </div>
    <div class="value ml-auto">
      {{'GENDER.' + viewService.flatMate.gender | translate}}
    </div>
  </div>
  <div *ngIf="viewService.flatMate.gender" class="divider"></div>
  <div *ngIf="showAll" class="hide-container">
    <div *ngIf="viewService.flatMate.subject.price.caution" class="attribute caution d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        kaució
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.price.caution}} {{viewService.flatMate.subject.price.currency}}
      </div>
    </div>
    <div *ngIf="viewService.flatMate.subject.price.caution" class="divider"></div>
    <div *ngIf="viewService.flatMate.subject.furnished" class="attribute furnished d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        bútorozottság
      </div>
      <div class="value ml-auto">
        {{'FURNISHED.' + viewService.flatMate.subject.furnished | translate}}
      </div>
    </div>
    <div *ngIf="viewService.flatMate.subject.furnished" class="divider"></div>
    <div *ngIf="viewService.flatMate.subject.building" class="attribute buildingType d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        lakás típusa
      </div>
      <div class="value ml-auto">
        {{'BUILDING.' + viewService.flatMate.subject.building | translate}}
      </div>
    </div>
    <div *ngIf="viewService.flatMate.subject.building" class="divider"></div>
    <div *ngIf="viewService.flatMate.subject.condition" class="attribute condition d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        lakás állapota
      </div>
      <div class="value ml-auto">
        {{'CONDITION.' + viewService.flatMate.subject.condition | translate}}
      </div>
    </div>
    <div *ngIf="viewService.flatMate.subject.condition" class="divider"></div>
    <div *ngIf="viewService.flatMate.subject.residents" class="attribute residents d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        lakók száma
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.residents}}
      </div>
    </div>
    <div *ngIf="viewService.flatMate.subject.residents" class="divider"></div>
    <div *ngIf="viewService.flatMate.subject.floors" class="attribute floor d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        emelet
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.floors}}
      </div>
    </div>
    <div *ngIf="viewService.flatMate.subject.floors" class="divider"></div>
  </div>
  <div class="showAll-button d-flex flex-row d-flex justify-content-between d-flex align-items-center">
    <div class="line"></div>
    <div *ngIf="!showAll" class="button mx-2" (click)="showAll = !showAll">Több részlet</div>
    <div *ngIf="showAll" class="button mx-2" (click)="showAll = !showAll">Kevesebb részlet</div>
    <div class="line"></div>
  </div>
  <div class="attribute-board d-flex flex-wrap">
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.lift">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.LIFT' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.petsAllowed">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.PETSALLOWED' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.washingMachine">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.WASHINGMACHINE' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.television">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.TELEVISION' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.smokingArea">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.SMOKINGAREA' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.internet">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.INTERNET' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.balcony">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.BALCONY' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.garage">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.GARAGE' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.gym">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.GYM' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.jakuzzi">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.JAKUZZI' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.accessible">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.ACCESSIBLE' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.airConditioner">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.AIRCONDITIONER' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.privateBathroom">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.PRIVATEBATHROOM' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.parking">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.PARKING' | translate}}</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.shortPeriod">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">{{'DETAILS.SHORTPERIOD' | translate}}</div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="price d-flex flex-column justify-content-center">
    <div class="main-price">{{viewService.flatMate.subject.price.fee*1000}} Ft/szoba</div>
    <div class="overhead">+ rezsi: {{viewService.flatMate.subject.price.overhead*1000}} Ft/fő</div>
  </div>
</div>
