<div class="flat-properties-card d-flex flex-column d-flex justify-content-center">
  <div class="location-box d-flex flex-row">
    <div class="poi-icon mr-2">
      <img src="assets/img/poi-icon.svg">
    </div>
    <div class="location mb-2">{{viewService.flatMate.subject.address.city}}</div>
    <div class="address mb-2">{{viewService.flatMate.subject.address.street}}
      {{viewService.flatMate.subject.address.number}}</div>
  </div>
  <div class="types d-flex flex-row mb-2">
    <img src="assets/img/26_szoba.svg" class="icon mr-2">
    <div class="serviceType">{{viewService.flatMate.subject.serviceType}} - </div>
    <div class="roomType">{{viewService.flatMate.subject.roomType}}</div>
  </div>
  <div class="attribute flatArea d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      lakás alapterülete
    </div>
    <div class="value ml-auto">
      {{viewService.flatMate.subject.floorArea}} m<sup>2</sup>
    </div>
  </div>
  <div class="divider"></div>
  <div class="attribute roomArea d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      szoba alapterülete
    </div>
    <div class="value ml-auto">
      {{viewService.flatMate.subject.roomArea}} m<sup>2</sup>
    </div>
  </div>
  <div class="divider"></div>
  <div class="attribute moveIntoAt d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      költözhető
    </div>
    <div class="value ml-auto">
      {{viewService.flatMate.moveIntoAt | localeDate}}
    </div>
  </div>
  <div class="divider"></div>
  <div class="attribute gender d-flex flex-row">
    <div class="icon mr-2">
      <img src="">
    </div>
    <div class="label">
      akit várok
    </div>
    <div class="value ml-auto">
      {{viewService.flatMate.gender}}
    </div>
  </div>
  <div class="divider"></div>
  <div *ngIf="showAll" class="hide-container">
    <div class="attribute caution d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        kaució
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.price.caution}} {{viewService.flatMate.subject.price.currency}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="attribute furnished d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        bútorozottság
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.furnished}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="attribute buildingType d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        lakás típusa
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.building}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="attribute condition d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        lakás állapota
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.condition}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="attribute residents d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        lakók száma
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.residents}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="attribute floor d-flex flex-row">
      <div class="icon mr-2">
        <img src="">
      </div>
      <div class="label">
        emelet
      </div>
      <div class="value ml-auto">
        {{viewService.flatMate.subject.floors}}
      </div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="showAll-button d-flex flex-row d-flex justify-content-between d-flex align-items-center">
    <div class="line"></div>
    <div class="button mx-2" (click)="showAll = !showAll">Több részlet</div>
    <div class="line"></div>
  </div>
  <div class="attribute-board d-flex flex-wrap">
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.lift">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Lift</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.petsAllowed">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Állatbarát</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.washingMachine">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Mosógép</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.television">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">TV</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.smokingArea">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Dohányzó</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.internet">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Internet</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.balcony">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Erkély</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.garage">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Garázs</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.gym">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Konditerem</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.jakuzzi">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Jakuzzi</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.accessible">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Akadálymentes</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.airConditioner">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Légkondi</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.privateBathroom">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Saját fürdő</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.parking">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Parkoló</div>
    </div>
    <div class="attribute-set d-flex flex-row align-items-center mr-auto">
      <div class="checkbox mr-2" [class.checked]="viewService.flatMate.subject.details.shortPeriod">
        <img src="assets/img/checkmark.svg">
      </div>
      <div class="label">Rövid távra is</div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="price d-flex flex-column justify-content-center">
    <div class="main-price">{{viewService.flatMate.subject.price.fee*1000}} Ft/szoba</div>
    <div class="overhead">+ rezsi: {{viewService.flatMate.subject.price.caution*1000}} Ft/fő</div>
  </div>
</div>
