.title {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 17.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #676767;
  margin: 22px 0 13px 0;
}

.list {
  margin: 0 0 26px 0;
}
