<div class="shortcuts-container d-flex justify-content-around align-items-center">
  <div class="shortcut-group d-flex flex-column">
    <div class="img">
      <img src="assets/img/room.png" alt="">
    </div>
    <div class="title">
      Keress lakótársat
    </div>
    <div class="subtitle">
      Keress lakótársat megüresedő szobátokba,vagy akár szobatársat, magad mellé
    </div>
  </div>

  <div class="shortcut-group d-flex flex-column">
    <div class="img">
      <img src="assets/img/move.png" alt="">
    </div>
    <div class="title">
      Keress lakást és költözz
    </div>
    <div class="subtitle">
      Ha albérletbe mennél, vagy akár váltanál, keress itt olyan lakótársat, akik kiadó szobát hirdetnek – válaszd ki,
      kivel laknál – és hol!
    </div>
  </div>

  <div class="shortcut-group d-flex flex-column">
    <div class="img">
      <img src="assets/img/house.png" alt="">
    </div>
    <div class="title">
      Nézzetek együtt lakást
    </div>
    <div class="subtitle">
      Keress valakit, akivel szívesen laknád, és vegyétek ki együtt!
    </div>
  </div>
</div>
