<div class="register-container d-flex flex-row">
  <div class="room-offer d-flex flex-column align-items-end mx-3">
    <div class="image mx-auto"><img src="assets/img/house.png"></div>
    <div class="button mx-auto" (click)="changeToDemand()">Szobát keresek</div>
  </div>
  <div class="room-demand d-flex flex-column align-items-end mt-auto mx-3">
    <div class="image mx-auto"><img src="assets/img/room.png"></div>
    <div class="button mx-auto" (click)="changeToOffer()">Szobát kínálok</div>
  </div>
</div>
